
<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="container">
    <div class="card-container">
      <div class="card-body">
          <h3 class="text-center">新規登録</h3>
          <hr>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <%= f.text_field :name, class: "form-control", placeholder: "名前", autofocus: true %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-house-user"></i>
                  </span>
                </div>

                <%= f.select :birthplace, User.birthplaces.keys,{}, class: "form-control", placeholder: 0, autofocus: true %>
              </div>
            </div>

            <!--<div class="form-group">-->
            <!--  <div class="input-group">-->
            <!--    <div class="input-group-prepend">-->
            <!--      <span class="input-group-text">-->
            <!--        <i class="fas fa-phone"></i>-->
            <!--      </span>-->
            <!--    </div>-->
            <!--    <%#= f.text_field :telephone_number, class: "form-control", placeholder: "電話番号", autofocus: true %>-->
            <!--  </div>-->
            <!--</div>-->

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス", autofocus: true %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
                <%= f.password_field :password, class: "form-control", placeholder: "パスワード（６文字以上）", autofocus: true %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワード（確認）" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.submit "登録する", class: "btn btn-outline-secondary btn-block" %>
            </div>

      </div>
    </div>
  </div>
<% end %>

<style>
  .bg-image {
    background-image: url("<%= asset_path('sea-top.jpg') %>");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 850px;
  }
</style>
