
  <div class="container">
    <div class="form-group row">
      <div class="col-sm-5 text-right">
        <%= attachment_image_tag @user, :profile_image, size: "150x150", format: "jpeg", fallback: "no_image.jpg" %>
          <div>
            <%= link_to  "プロフィールを編集", edit_user_path(@user), class: "btn btn-success" %>
          </div>
      </div>
      <div class="col-sm-5">
        <div>
          <%= @user.name %>
        </div>
        <div>
          <%= @user.birthplace %>
        </div>
        <div>
          <%= @user.introduction %>
        </div>
      </div>
    </div>
  </div>

 <div class="container-post mt-5">
   <section class="row d-flex justify-content-center mx-1 mb-4">
     <% @posts.each do |post| %>
        <div class="col-sm-4 mb-4">
          <div class="card">
            <div class="card-body-post">
              <div class="card-image text-center mb-2">
                <%= attachment_image_tag post, :image, size: "400x250", format: 'jpeg' %>
              </div>
                <div class="d-flex justify-content-around">
                  <h5 class="card-title"><%= post.tourist_spot %></h5>
                  <div class="card-text"><%= post.prefecture %></div>
                    <%= link_to "詳細", post_path(post), class:"btn btn-secondary"  %>
                </div>

            </div>
          </div>
        </div>
     <% end %>
   </section>
 </div>