<h2>ログイン</h2>

<%= form_with model: @user, url: new_user_session_path, local: true do |f| %>

 <div class="container">

  <div class="field row">
    <%= f.label :email, "メールアドレス", class: "col-sm-3" %><%= f.email_field :email, class: "col-sm-3", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field row">
    <%= f.label :password, "パスワード", class: "col-sm-3" %><%= f.password_field :password, class: "col-sm-3", autocomplete: "current-password" %>
  </div>

  <div class="actions row">
    <%= f.submit "ログイン" %>
  </div>

<% end %>

 </div>
