<h2>投稿編集ページ</h2>
  <div><%= form_with model:@post, url: posts_path, local:true do |f| %>

    <div class="form-group row">
      <%= f.label :image, "写真", class: "col-sm-3 col-form-label" %>
      <%= f.attachment_field :image, class: "form-control" %>
    </div>
    <div class="form-group row">
      <%= f.label :tourist_spot, "観光地", class: "col-sm-3 col-form-label" %>
      <%= f.text_field :tourist_spot, class: "form-control col-sm-3" %>
    </div>
    <div class="form-group row">
      <%= f.label :prefecture, "都道府県", class: "col-sm-3 col-form-label" %>
      <%= f.text_field :prefecture, class: "form-control col-sm-3" %>
    </div>
    <div class="form-group row">
      <%= f.label :address, "住所", class: "col-sm-3 col-form-label" %>
      <%= f.text_field :address, class: "form-control col-sm-3" %>
    </div>
    <div class="form-group row">
      <%= f.label :body, "内容", class: "col-sm-3 col-form-label" %>
      <%= f.text_field :body, class: "col-sm-3 col-form-label" %>
    </div>
    <div class="form-group row">
      <%= f.submit "完了", class: "btn btn-success" %>
    </div>

  </div>
