<h2>新規投稿ページ</h2>
  <%= form_with model: @post,  local:true do |f| %>

  <div class="form-group row">
    <%= f.label :image, "写真", class: "col-sm-3" %><%= f.attachment_field :image, class: "form-control" %>
  </div>

  <div class="form-group row">
    <%= f.label :tourist_spot, "観光地", class: "col-sm-3" %><%= f.text_field :tourist_spot, class: "form-control" %>
  </div>

  <div class="form-group row">
    <%= f.label :prefecture, "都道府県", class: "col-sm-3" %><%= f.text_field :prefecture, class: "form-control" %>
  </div>

  <div class="form-group row">
    <%= f.label :address, "住所", class: "col-sm-3" %><%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group row">
    <%= f.label :body, "内容", class: "col-sm-3" %><%= f.text_field :body, class: "form-control" %>
  </div>

  <div class="form-group row">
    <%= f.submit "新規投稿", class: "btn btn-success" %>
  </div>

<% end %>