<h2>投稿詳細</h2>

<div class="container">
  <div class="form-group row">
    <%= attachment_image_tag @post, :image, :fill,100 ,100, format: "jpeg" %>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
      観光地
    </div>
    <div>
      <%= @post.tourist_spot %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
      都道府県
    </div>
    <div>
      <%= @post.prefecture %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
      住所
    </div>
    <div>
      <%= @post.address %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
      内容
    </div>
    <div>
      <%= @post.body %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <%= link_to "編集", edit_post_path(@post), class: "btn btn-success" %>
      <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-success" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-7">
      <div>
        <% @post.post_comments.each do |post_comment| %>
        <%# @post_comments.each do |post_comment| %>
          <%= profile_image_tag %>
          <%= post_comment.user.name %>
          <%= post_comment.comment %>
        <% end %>
      </div>
      <div>
        <%= form_with(model:[@post, @post_comment],local: true) do |f| %>
        <%= f.text_field :comment, placeholder: "コメント追加" %>
        <%= f.submit "送信", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>