<div class="container">
  <div class="card-container">
    <div class="card-body">
      <div class="form-group">
        <div class="input-group flex-row mb-2">
          <%= attachment_image_tag @post, :image, format: "jpeg", size: "600x350" %>
        </div>

        <div class="d-flex  bd-highlight">
          <h3 class="card-title mr-auto p-2 bd-highlight"><%= @post.tourist_spot %></h3>
        <!--<div class="form-group row">-->
    <!--<div class="col-sm-3">-->
          <% if @post.gooded_by?(current_user) %>
            <%= link_to post_goods_path(@post), method: :delete do %>
              <i class="fas fa-thumbs-up"></i>
            <%= @post.goods.count %>いいね
            <% end %>
          <% else %>
            <%= link_to post_goods_path(@post), method: :post do %>
            <i class="fas fa-thumbs-up"></i>
            <%= @post.goods.count %>いいね
            <% end %>
          <% end %>
          <!--</div>-->
        <!--</div>-->
            <div id="post_<%= @post.id %>">
            <%= render 'post', post: @post%>
            </div>

            <% if user_signed_in? && current_user.id == @post.user_id %>
            <%= link_to edit_post_path(@post), class: "btn" do %>
              <i class="fas fa-edit"></i>
            <% end %>

            <%= link_to post_path(@post), method: :delete, class: "btn" do %>
             <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>

        <div class="card-text">
          <%= @post.prefecture %></br>
          <%= @post.address %></br>
          <%= @post.body %>
        </div>

        <div class="form-group row">
          <div class="col-sm-7">
             <% @post.post_comments.each do |post_comment| %>
              <div>
                  <!-- <%#= profile_image_tag %> -->
                  <%= post_comment.user.name %>
                  <%= post_comment.comment %>
              </div>
            <% end %>

            <div>
              <%= form_with(model:[@post, @post_comment],local: true) do |f| %>
                <%= f.text_field :comment, placeholder: "コメント追加" %>
                <%= f.submit "送信", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

        <div id="map"></div>
        <style>
        #map{
          height: 200px;
          width:100%;
        }
        </style>

        <script type="text/javascript">
          function initMap() {

              var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: test
              });

            var contentString = '住所：<%= @post.address %>';
              var infowindow = new google.maps.InfoWindow({
                  content: contentString
              });

              var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
              });

              marker.addListener('click', function() {
                  infowindow.open(map, marker);
              });
          }
      </script>

      <script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
      </script>

    </div>
  </div>
</div>



 <!-- <div class="container-post">-->
 <!--  <section class="row d-flex justify-content-center">-->
 <!--    <div class="col-8">-->
 <!--     <div class="card">-->
 <!--       <div class="card-body-post">-->
 <!--         <div class=" text-center">-->
 <!--           <div class="row">-->
 <!--             <div class="col-8">-->
 <!--               <%= attachment_image_tag @post, :image, format: "jpeg", class: "card-image-post" %>-->
 <!--               </div>-->

 <!--             <div class="col-4">-->

 <!--                <h3 class="card-title text-left">-->
 <!--                 <%= @post.tourist_spot %>-->
 <!--               </h3>-->
 <!--                <div class="card-text text-left">-->
 <!--                  <%= @post.prefecture %></br>-->
 <!--                  <%= @post.address %></br>-->
 <!--                  <%= @post.body %>-->
 <!--                </div>-->
 <!--               </div>-->
 <!--             </div>-->
 <!--           </div>-->
 <!--         </div>-->
 <!--       </div>-->
 <!--     </div>-->
 <!--   </div>-->
 <!--  </section>-->
 <!--</div>-->

<!--  <p>マップ</p>-->
<!--<div id="map2"></div>-->
<!--<style>-->
<!--#map2{-->
<!--  height: 200px;-->
<!--  width:500px;-->
<!--  text_field: center;-->

<!--}-->
<!--</style>-->

<!--<script type="text/javascript">-->
<!--    function initMap_() {-->

<!--        var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};-->
<!--        var map = new google.maps.Map(document.getElementById('map2'), {-->
<!--            zoom: 15,-->
<!--            center: test-->
<!--        });-->

<!--      var contentString = '住所：<%= @post.address %>';-->
<!--        var infowindow = new google.maps.InfoWindow({-->
<!--            content: contentString-->
<!--        });-->

<!--        var marker = new google.maps.Marker({-->
<!--            position:test,-->
<!--            map: map,-->
<!--            title: contentString-->
<!--        });-->

<!--        marker.addListener('click', function() {-->
<!--            infowindow.open(map, marker);-->
<!--        });-->
<!--    }-->

<!--    function initMaps(){-->
<!--      initMap()-->
<!--      initMap_()-->
<!--    }-->

<!--</script>-->


<!--<script async defer-->
<!--        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMaps">-->
<!--</script>-->